<!DOCTYPE erb>
<html>
  <head>
    <title>Sydney</title>
  </head>
    <body>
      <h1> HOTELS</h1>
        <ul>
          <li><a href="https://www.qthotelsandresorts.com/sydney-cbd/"></a>QT Sydney </a></li>
          <li><a href="https://www.accorhotels.com/gb/hotel-2073-mercure-sydney/index.shtml"></a>Mercure Sydney </a></li>
          <li><a href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1183&SWAQ=958C"></a>The Westin Sydney </a></li>
          <li><a href="https://www.accorhotels.com/gb/hotel-3665-sofitel-sydney-wentworth/index.shtml"></a>Sofitel Sydney Wentworth </a></li>
        </ul>
      <h1> RESTAURANTS </h1>
        <ul>
          <li><a href="http://www.marqueesydney.com/"></a>The Star $$</a></li>
          <li><a href="https://www.cirrusdining.com.au/"></a> Cirrus Dining $$$</a></li>
          <li><a href="https://www.thebentley.com.au/"></a>Bentley Restaurant $$$$</a></li>
          <li><a href="https://www.sixpenny.com.au/"></a>Sixpenny $$$$$</a></li>
        </ul>
             
      <h1>EVENTS</h1>
        <ul>
          <li><a href="https://www.rbgsyd.nsw.gov.au/">Royal Botanic Garden</a></li>
          <li><a href="https://www.sydneyolympicpark.com.au/">Sydney Olympic park</a> </a></li>
          <li><a href="http://www.thrill.com.au/">THRILL events team activities</a></a></li>
          <li><a href="http://www.pylonlookout.com.au/">Pylon Lookout</a></a></a></li>
        </ul>
          <br><br>
          <footer>Endorsed by Karlie Kloss<footer>
    </body>
</html>