<!DOCTYPE erb>
<html>
  <head>
    <title>Tokyo</title>
  </head>
    <body>
      <h1> HOTELS</h1>
        <ul>
          <li><a href="https://www.hostelworld.com/hosteldetails.php/Bunka-Hostel-Tokyo/Tokyo/100416?source=adwordsenhostelnames&network=g&creative=238878550068&adposition=1t1&uniqueclickID=16274433429750119774&sub_keyword=bunka%20hostel%20tokyo&sub_ad=e&sub_publisher=ADW&gclid=CjwKCAjw14rbBRB3EiwAKeoG_0dw_iZvVAFdGgU55M2h9jdmHrAG7n2EiJ7i1MTPQZDcNQ28gjO_SBoCFjwQAvD_BwE&gclsrc=aw.ds"></a>Bunka Hostel Tokyo: $53 </a></li>
          <li><a href="https://www.expedia.com/Tokyo-Hotels-Hotel-Sunroute-Higashi-Shinjuku.h2184775.Hotel-Information?chkin=8%2F2%2F2018&chkout=8%2F3%2F2018&rm1=a2&hwrqCacheKey=51502198-7558-4744-b03c-6f0af0fd4088HWRQ1533216443118&cancellable=false&regionId=179900&vip=false&c=441a3c37-4320-43c7-bf3a-adeff2bca60d&"></a>Hotel Sunroute Higashi: $73 </a></li>
          <li><a href="https://www.expedia.com/Tokyo-Hotels-Shinjuku-Granbell-Hotel.h7737490.Hotel-Information?chkin=8%2F2%2F2018&chkout=8%2F3%2F2018&rm1=a2&hwrqCacheKey=51502198-7558-4744-b03c-6f0af0fd4088HWRQ1533216443118&cancellable=false&regionId=179900&vip=false&c=441a3c37-4320-43c7-bf3a-adeff2bca60d&&exp_dp=281&exp_ts=1533216443564&exp_curr=USD&swpToggleOn=false&exp_pg=HSR"></a>Shinjuku Granbell Hotel: $96 </a></li>
          <li><a href="https://www.expedia.com/Tokyo-Hotels-Keio-Plaza-Hotel-Tokyo.h15215.Hotel-Information?chkin=8%2F2%2F2018&chkout=8%2F3%2F2018&rm1=a2&hwrqCacheKey=51502198-7558-4744-b03c-6f0af0fd4088HWRQ1533216592957&cancellable=false&regionId=179900&vip=false&c=eb1ad044-f6a7-41f5-8d3f-beafe241391b&&exp_dp=264&exp_ts=1533216593499&exp_curr=USD&swpToggleOn=false&exp_pg=HSR"></a>Keio Plaza Hotel Tokyo: $221 </a></li>
        </ul>
      <h1> RESTUARANTS </h1>
        <ul>
          <li><a href=" http://www.kaikaya.com/"></a>Kaikaya by the Sea $$</a></li>
          <li><a href="https://www.kuriyadining.com.sg/en/"></a>Kuriya $$$</a></li>
          <li><a href="http://cedros.jp/"></a>Cedros Daikanyama $$$$</a></li>
          <li><a href="http://www.suishagardens.com/main_e/main.html?gclid=CjwKCAjw14rbBRB3EiwAKeoG_wxEmkO5NhED9C9bidKuDmCWVvJTq5XQhaQ6hv4hlyke5zz81wS3LBoCf-kQAvD_BwE"></a>Hakushu Teppanyaki $$$$$</a></li>
        </ul>
             
      <h1>EVENTS</h1>
        <ul>
          <li><a href="https://www.expedia.com/things-to-do/sumo-demonstration-chankonabe-hotpot-lunch.a421675.activity-details?srp=true&location=Tokyo&pageNumber=1">Sumo Demonstration & Chankonabe Hotpot Lunch</a></li>
          <li><a href= "https://www.expedia.com/things-to-do/mount-fuji-hakone-national-park-full-day-tour.a187353.activity-details?srp=true&location=Tokyo&pageNumber=1"> </a>Mount Fuji & Hakone National Park Full-Day Tour </a></li>
          <li><a href= "https://www.expedia.com/things-to-do/full-day-sightseeing-bus-tour-in-tokyo-with-cruise.a370600.activity-details?srp=true&location=Tokyo&pageNumber=1"> </a>Full-Day Sightseeing Bus Tour in Tokyo with Cruise</a></li>
          <li><a href= "https://www.expedia.com/things-to-do/tokyo-half-day-sightseeing-bus-tour-am.a392858.activity-details?srp=true&location=Tokyo&startDate=2018-08-02&endDate=2018-08-16&pageNumber=1"></a></a>Tokyo Half-Day Sightseeing Bus Tour (AM)</a></li>
        </ul>
          <br><br>
          <footer>Endorsed by Karlie Kloss<footer>
    </body>
</html>